.MapContainer {
    width: 100%;
    height: 100%;
}
.MapContainer svg {
    width: 1400px;
    height: 1400px;
    visibility: hidden;
    position: absolute;
    background: none;
    touch-action: pan-x pan-y;
}
#MainMapView {
    background-color: #ffffff;
    overflow: hidden;
    width: 1400px;
    height: 1400px;
}

.MapContainer svg.active {
    visibility: visible;
}

.MapContainer svg.ZoomInAndFadeIn {
    animation: ZoomInAndFadeIn 0.3s ease;
}
.MapContainer svg.ZoomOutAndFadeIn {
    animation: ZoomOutAndFadeIn 0.3s ease;
}

.MapContainer svg.ZoomInAndFadeOut {
    animation: ZoomInAndFadeOut 0.3s ease;
}
.MapContainer svg.ZoomOutAndFadeOut {
    animation: ZoomOutAndFadeOut 0.3s ease;
}

.map {
    width: 1400px;
    height: 1400px;
}

svg text {
    font-size: 1.5em;
    font-weight: bold;
    fill: #ffffff;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
}

rect {
    stroke: #809bf3;
}

.classroom {
    fill: #4E7CF1;
}

.notClassroom {
    fill: #4E7CF133;
}

.notClassroom text {
    fill: #000000;
}

.hallway {
    fill: #eaeaea;
    stroke: none;
}

@keyframes ZoomInOutAndFadeInOut {
    0% {
        transform-origin: center;
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform-origin: center;
        transform: scale(0.9);
        opacity: 0;
    }
    51% {
        transform-origin: center;
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes ZoomInAndFadeIn {
    0% {
        transform-origin: center;
        /* transform: scale(0.9); */
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes ZoomOutAndFadeIn {
    0% {
        transform-origin: center;
        /* transform: scale(1.1); */
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes ZoomInAndFadeOut {
    0% {
        transform-origin: center;
        /* transform: scale(1); */
        opacity: 1;
    }
    100% {
        transform-origin: center;
        transform: scale(1.1);
        opacity: 0;
    }
}
@keyframes ZoomOutAndFadeOut {
    0% {
        transform-origin: center;
        /* transform: scale(1); */
        opacity: 1;
    }
    100% {
        transform-origin: center;
        transform: scale(0.9);
        opacity: 0;
    }
}